<<<<<<< HEAD
@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
=======

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4F8EF7;
  --primary-hover: #3C73E5;
  --primary-active: #365FCC;

  --bg-main: #F0F6FE;
  --bg-section: #E0EBFE;
  --bg-border: #CFE0FD;

  --text-main: #010C1D;
  --text-heading: #03193E;
  --text-body: #04204F;
  --text-secondary: #6B7280;

  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fb; /* light gray like your screenshot */
  color: var(--text-main);
  font-family: 'Inter', system-ui, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button {
  cursor: pointer;
  border: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5f5;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
>>>>>>> c109806 (Work in progress: dashboards, auth UI, PWA setup)
