# Node
node_modules/
dist/

# Python
venv/
.venv/
__pycache__/
.pytest_cache/

# Env files
.env

# Tests
server/tests/

# Database / local files
instance/local.db
server/instance/local.db

# Project folders
NodeServer/